body {
	background: gray;
}

ul.menu {
    list-style-type: none;
    margin: 0;
    padding-left: 25px;
    overflow: hidden;
    background-color: #333;
	width: 100%;
	margin: auto;
	box-sizing: border-box;
	top: 0;

}


ul.menu > li {float: left;}

ul.menu li > a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.menu li > a:hover:not(.pageActive) {background-color: #111;}

ul.menu li > a.pageActive {background-color: #4CAF50;}

ul.menu {
	display: inline-block;
}

ul.menu li.right {float: right;}

