body {
	background: gray;
}

ul.menu {
    list-style-type: none;
    margin: 0;
    padding-left: 25px;
    overflow: hidden;
    background-color: #333;
	/* position: relative; */
	width: 100%;
	margin: auto;
	box-sizing: border-box;
	top: 0;

}


ul.menu > li {float: left;}

ul.menu li > a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.menu li > a:hover:not(.pageActive) {background-color: #111;}

ul.menu li > a.pageActive {background-color: #4CAF50;}

ul.menu {
	display: inline-block;
}

ul.menu li.right {float: right;}


form {
  margin: 7em auto;
  width: 500px;
  padding: 2em;
  border: 5px solid white;
  box-shadow: 5px 10px;
  border-radius: 1em;
}

form div + div {
  margin-top: 1em;
}

label {
  display: inline-block;
  width: 120px;
  text-align: center;
}

input {
  font: 1em sans-serif;

  width: 300px;
  box-sizing: border-box;
  border: 1px solid #999;
}


.button {
  padding-left: 90px; 
  text-align: center;
}

.titreCnx {
	font: 2em bahnschrift;
	text-align: center;
}